<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.customer.mapper.CmfCrmZhuangtaiMapper">
    
    <resultMap type="CmfCrmZhuangtai" id="CmfCrmZhuangtaiResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCmfCrmZhuangtaiVo">
        select id, status from cmf_crm_zhuangtai
    </sql>

    <select id="selectCmfCrmZhuangtaiList" parameterType="CmfCrmZhuangtai" resultMap="CmfCrmZhuangtaiResult">
        <include refid="selectCmfCrmZhuangtaiVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCmfCrmZhuangtaiById" parameterType="Integer" resultMap="CmfCrmZhuangtaiResult">
        <include refid="selectCmfCrmZhuangtaiVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfCrmZhuangtai" parameterType="CmfCrmZhuangtai" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_crm_zhuangtai
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateCmfCrmZhuangtai" parameterType="CmfCrmZhuangtai">
        update cmf_crm_zhuangtai
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfCrmZhuangtaiById" parameterType="Integer">
        delete from cmf_crm_zhuangtai where id = #{id}
    </delete>

    <delete id="deleteCmfCrmZhuangtaiByIds" parameterType="String">
        delete from cmf_crm_zhuangtai where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>