<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.buy.mapper.CmfBuyplanmainTmpColorMapper">
    
    <resultMap type="CmfBuyplanmainTmpColor" id="CmfBuyplanmainTmpColorResult">
        <result property="id"    column="id"    />
        <result property="color"    column="color"    />
        <result property="num"    column="num"    />
    </resultMap>

    <sql id="selectCmfBuyplanmainTmpColorVo">
        select id, color, num from cmf_buyplanmain_tmp_color
    </sql>

    <select id="selectCmfBuyplanmainTmpColorList" parameterType="CmfBuyplanmainTmpColor" resultMap="CmfBuyplanmainTmpColorResult">
        <include refid="selectCmfBuyplanmainTmpColorVo"/>
        <where>  
            <if test="color != null "> and color = #{color}</if>
            <if test="num != null "> and num = #{num}</if>
        </where>
    </select>
    
    <select id="selectCmfBuyplanmainTmpColorById" parameterType="Integer" resultMap="CmfBuyplanmainTmpColorResult">
        <include refid="selectCmfBuyplanmainTmpColorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfBuyplanmainTmpColor" parameterType="CmfBuyplanmainTmpColor" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_buyplanmain_tmp_color
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="color != null">color,</if>
            <if test="num != null">num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="color != null">#{color},</if>
            <if test="num != null">#{num},</if>
         </trim>
    </insert>

    <update id="updateCmfBuyplanmainTmpColor" parameterType="CmfBuyplanmainTmpColor">
        update cmf_buyplanmain_tmp_color
        <trim prefix="SET" suffixOverrides=",">
            <if test="color != null">color = #{color},</if>
            <if test="num != null">num = #{num},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfBuyplanmainTmpColorById" parameterType="Integer">
        delete from cmf_buyplanmain_tmp_color where id = #{id}
    </delete>

    <delete id="deleteCmfBuyplanmainTmpColorByIds" parameterType="String">
        delete from cmf_buyplanmain_tmp_color where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>