<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.store.mapper.CmfStockchangestateMapper">
    
    <resultMap type="CmfStockchangestate" id="CmfStockchangestateResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectCmfStockchangestateVo">
        select id, name from cmf_stockchangestate
    </sql>

    <select id="selectCmfStockchangestateList" parameterType="CmfStockchangestate" resultMap="CmfStockchangestateResult">
        <include refid="selectCmfStockchangestateVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectCmfStockchangestateById" parameterType="Integer" resultMap="CmfStockchangestateResult">
        <include refid="selectCmfStockchangestateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfStockchangestate" parameterType="CmfStockchangestate" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_stockchangestate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateCmfStockchangestate" parameterType="CmfStockchangestate">
        update cmf_stockchangestate
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfStockchangestateById" parameterType="Integer">
        delete from cmf_stockchangestate where id = #{id}
    </delete>

    <delete id="deleteCmfStockchangestateByIds" parameterType="String">
        delete from cmf_stockchangestate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>