<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.basicdata.mapper.CmfProductzuzhuangDetailMapper">
    
    <resultMap type="CmfProductzuzhuangDetail" id="CmfProductzuzhuangDetailResult">
        <result property="id"    column="id"    />
        <result property="prodid"    column="prodid"    />
        <result property="prodname"    column="prodname"    />
        <result property="prodguige"    column="prodguige"    />
        <result property="prodxinghao"    column="prodxinghao"    />
        <result property="proddanwei"    column="proddanwei"    />
        <result property="price"    column="price"    />
        <result property="zhekou"    column="zhekou"    />
        <result property="num"    column="num"    />
        <result property="beizhu"    column="beizhu"    />
        <result property="mainrowid"    column="mainrowid"    />
        <result property="jine"    column="jine"    />
        <result property="oldprodid"    column="oldprodid"    />
        <result property="opertype"    column="opertype"    />
    </resultMap>

    <sql id="selectCmfProductzuzhuangDetailVo">
        select id, prodid, prodname, prodguige, prodxinghao, proddanwei, price, zhekou, num, beizhu, mainrowid, jine, oldprodid, opertype from cmf_productzuzhuang_detail
    </sql>

    <select id="selectCmfProductzuzhuangDetailList" parameterType="CmfProductzuzhuangDetail" resultMap="CmfProductzuzhuangDetailResult">
        <include refid="selectCmfProductzuzhuangDetailVo"/>
        <where>  
            <if test="prodid != null  and prodid != ''"> and prodid = #{prodid}</if>
            <if test="prodname != null  and prodname != ''"> and prodname like concat('%', #{prodname}, '%')</if>
            <if test="prodguige != null  and prodguige != ''"> and prodguige = #{prodguige}</if>
            <if test="prodxinghao != null  and prodxinghao != ''"> and prodxinghao = #{prodxinghao}</if>
            <if test="proddanwei != null  and proddanwei != ''"> and proddanwei = #{proddanwei}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="zhekou != null "> and zhekou = #{zhekou}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="beizhu != null  and beizhu != ''"> and beizhu = #{beizhu}</if>
            <if test="mainrowid != null "> and mainrowid = #{mainrowid}</if>
            <if test="jine != null "> and jine = #{jine}</if>
            <if test="oldprodid != null  and oldprodid != ''"> and oldprodid = #{oldprodid}</if>
            <if test="opertype != null "> and opertype = #{opertype}</if>
        </where>
    </select>
    
    <select id="selectCmfProductzuzhuangDetailById" parameterType="Integer" resultMap="CmfProductzuzhuangDetailResult">
        <include refid="selectCmfProductzuzhuangDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfProductzuzhuangDetail" parameterType="CmfProductzuzhuangDetail" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_productzuzhuang_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodid != null and prodid != ''">prodid,</if>
            <if test="prodname != null and prodname != ''">prodname,</if>
            <if test="prodguige != null and prodguige != ''">prodguige,</if>
            <if test="prodxinghao != null and prodxinghao != ''">prodxinghao,</if>
            <if test="proddanwei != null and proddanwei != ''">proddanwei,</if>
            <if test="price != null">price,</if>
            <if test="zhekou != null">zhekou,</if>
            <if test="num != null">num,</if>
            <if test="beizhu != null and beizhu != ''">beizhu,</if>
            <if test="mainrowid != null">mainrowid,</if>
            <if test="jine != null">jine,</if>
            <if test="oldprodid != null and oldprodid != ''">oldprodid,</if>
            <if test="opertype != null">opertype,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prodid != null and prodid != ''">#{prodid},</if>
            <if test="prodname != null and prodname != ''">#{prodname},</if>
            <if test="prodguige != null and prodguige != ''">#{prodguige},</if>
            <if test="prodxinghao != null and prodxinghao != ''">#{prodxinghao},</if>
            <if test="proddanwei != null and proddanwei != ''">#{proddanwei},</if>
            <if test="price != null">#{price},</if>
            <if test="zhekou != null">#{zhekou},</if>
            <if test="num != null">#{num},</if>
            <if test="beizhu != null and beizhu != ''">#{beizhu},</if>
            <if test="mainrowid != null">#{mainrowid},</if>
            <if test="jine != null">#{jine},</if>
            <if test="oldprodid != null and oldprodid != ''">#{oldprodid},</if>
            <if test="opertype != null">#{opertype},</if>
         </trim>
    </insert>

    <update id="updateCmfProductzuzhuangDetail" parameterType="CmfProductzuzhuangDetail">
        update cmf_productzuzhuang_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="prodid != null and prodid != ''">prodid = #{prodid},</if>
            <if test="prodname != null and prodname != ''">prodname = #{prodname},</if>
            <if test="prodguige != null and prodguige != ''">prodguige = #{prodguige},</if>
            <if test="prodxinghao != null and prodxinghao != ''">prodxinghao = #{prodxinghao},</if>
            <if test="proddanwei != null and proddanwei != ''">proddanwei = #{proddanwei},</if>
            <if test="price != null">price = #{price},</if>
            <if test="zhekou != null">zhekou = #{zhekou},</if>
            <if test="num != null">num = #{num},</if>
            <if test="beizhu != null and beizhu != ''">beizhu = #{beizhu},</if>
            <if test="mainrowid != null">mainrowid = #{mainrowid},</if>
            <if test="jine != null">jine = #{jine},</if>
            <if test="oldprodid != null and oldprodid != ''">oldprodid = #{oldprodid},</if>
            <if test="opertype != null">opertype = #{opertype},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfProductzuzhuangDetailById" parameterType="Integer">
        delete from cmf_productzuzhuang_detail where id = #{id}
    </delete>

    <delete id="deleteCmfProductzuzhuangDetailByIds" parameterType="String">
        delete from cmf_productzuzhuang_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>