<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.hr.mapper.CmfHrmsTransferTypeMapper">
    
    <resultMap type="CmfHrmsTransferType" id="CmfHrmsTransferTypeResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectCmfHrmsTransferTypeVo">
        select id, type from cmf_hrms_transfer_type
    </sql>

    <select id="selectCmfHrmsTransferTypeList" parameterType="CmfHrmsTransferType" resultMap="CmfHrmsTransferTypeResult">
        <include refid="selectCmfHrmsTransferTypeVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectCmfHrmsTransferTypeById" parameterType="Integer" resultMap="CmfHrmsTransferTypeResult">
        <include refid="selectCmfHrmsTransferTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfHrmsTransferType" parameterType="CmfHrmsTransferType" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_hrms_transfer_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">#{type},</if>
         </trim>
    </insert>

    <update id="updateCmfHrmsTransferType" parameterType="CmfHrmsTransferType">
        update cmf_hrms_transfer_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfHrmsTransferTypeById" parameterType="Integer">
        delete from cmf_hrms_transfer_type where id = #{id}
    </delete>

    <delete id="deleteCmfHrmsTransferTypeByIds" parameterType="String">
        delete from cmf_hrms_transfer_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>