<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.political.mapper.CmfDictSatisfactionMapper">
    
    <resultMap type="CmfDictSatisfaction" id="CmfDictSatisfactionResult">
        <result property="id"    column="id"    />
        <result property="satisfaction"    column="Satisfaction"    />
        <result property="pyCode"    column="PY_Code"    />
    </resultMap>

    <sql id="selectCmfDictSatisfactionVo">
        select id, Satisfaction, PY_Code from cmf_dict_satisfaction
    </sql>

    <select id="selectCmfDictSatisfactionList" parameterType="CmfDictSatisfaction" resultMap="CmfDictSatisfactionResult">
        <include refid="selectCmfDictSatisfactionVo"/>
        <where>  
            <if test="satisfaction != null  and satisfaction != ''"> and Satisfaction = #{satisfaction}</if>
            <if test="pyCode != null  and pyCode != ''"> and PY_Code = #{pyCode}</if>
        </where>
    </select>
    
    <select id="selectCmfDictSatisfactionById" parameterType="Integer" resultMap="CmfDictSatisfactionResult">
        <include refid="selectCmfDictSatisfactionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfDictSatisfaction" parameterType="CmfDictSatisfaction" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_dict_satisfaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="satisfaction != null and satisfaction != ''">Satisfaction,</if>
            <if test="pyCode != null and pyCode != ''">PY_Code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="satisfaction != null and satisfaction != ''">#{satisfaction},</if>
            <if test="pyCode != null and pyCode != ''">#{pyCode},</if>
         </trim>
    </insert>

    <update id="updateCmfDictSatisfaction" parameterType="CmfDictSatisfaction">
        update cmf_dict_satisfaction
        <trim prefix="SET" suffixOverrides=",">
            <if test="satisfaction != null and satisfaction != ''">Satisfaction = #{satisfaction},</if>
            <if test="pyCode != null and pyCode != ''">PY_Code = #{pyCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfDictSatisfactionById" parameterType="Integer">
        delete from cmf_dict_satisfaction where id = #{id}
    </delete>

    <delete id="deleteCmfDictSatisfactionByIds" parameterType="String">
        delete from cmf_dict_satisfaction where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>