<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.political.mapper.CmfFixedassetleibieMapper">
    
    <resultMap type="CmfFixedassetleibie" id="CmfFixedassetleibieResult">
        <result property="id"    column="id"    />
        <result property="name"    column="Name"    />
    </resultMap>

    <sql id="selectCmfFixedassetleibieVo">
        select id, Name from cmf_fixedassetleibie
    </sql>

    <select id="selectCmfFixedassetleibieList" parameterType="CmfFixedassetleibie" resultMap="CmfFixedassetleibieResult">
        <include refid="selectCmfFixedassetleibieVo"/>
        <where>  
            <if test="name != null  and name != ''"> and Name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectCmfFixedassetleibieById" parameterType="Integer" resultMap="CmfFixedassetleibieResult">
        <include refid="selectCmfFixedassetleibieVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfFixedassetleibie" parameterType="CmfFixedassetleibie" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_fixedassetleibie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">Name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateCmfFixedassetleibie" parameterType="CmfFixedassetleibie">
        update cmf_fixedassetleibie
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">Name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfFixedassetleibieById" parameterType="Integer">
        delete from cmf_fixedassetleibie where id = #{id}
    </delete>

    <delete id="deleteCmfFixedassetleibieByIds" parameterType="String">
        delete from cmf_fixedassetleibie where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>