<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.political.mapper.CmfGbNationalMapper">
    
    <resultMap type="CmfGbNational" id="CmfGbNationalResult">
        <result property="id"    column="id"    />
        <result property="name"    column="Name"    />
    </resultMap>

    <sql id="selectCmfGbNationalVo">
        select id, Name from cmf_gb_national
    </sql>

    <select id="selectCmfGbNationalList" parameterType="CmfGbNational" resultMap="CmfGbNationalResult">
        <include refid="selectCmfGbNationalVo"/>
        <where>  
            <if test="name != null  and name != ''"> and Name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectCmfGbNationalById" parameterType="Integer" resultMap="CmfGbNationalResult">
        <include refid="selectCmfGbNationalVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmfGbNational" parameterType="CmfGbNational" useGeneratedKeys="true" keyProperty="id">
        insert into cmf_gb_national
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">Name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateCmfGbNational" parameterType="CmfGbNational">
        update cmf_gb_national
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">Name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmfGbNationalById" parameterType="Integer">
        delete from cmf_gb_national where id = #{id}
    </delete>

    <delete id="deleteCmfGbNationalByIds" parameterType="String">
        delete from cmf_gb_national where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>